Repository Arcoz0308/arcscord, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg/better-error, pkg/core, pkg/error

.github/labeler.yml:

pkg/better-error:
  - changed-files:
      - any-glob-to-any-file:
          - packages/better_error/*
pkg/core:
  - changed-files:
      - any-glob-to-any-file:
          - packages/arcscord/*
pkg/error:
  - changed-files:
      - any-glob-to-any-file:
          - packages/error/*

ci: improve sync labels job
  .github/workflows/labals.yml
  .github/workflows/labelsync.yml
Labels: none

chore: improve typecheck conf
  packages/arcscord/package.json
  packages/arcscord/src/tsconfig.json
  packages/arcscord/tsconfig.typecheck.json
  packages/arcscord/tsup.config.ts
  packages/better_error/package.json
  packages/better_error/tsconfig.eslint.json
  packages/better_error/tsconfig.typecheck.json
  packages/error/package.json
  packages/error/tsconfig.eslint.json
  packages/error/tsconfig.typecheck.json
  packages/middleware/package.json
  packages/middleware/tsconfig.eslint.json
  packages/middleware/tsconfig.typecheck.json
  tsconfig.eslint.json
  tsconfig.typecheck.json
Labels: pkg/better-error, pkg/core, pkg/error

chore: update @arcscord/middleware package description
  README.md
Labels: none

chore: update tsup.config imports to use .js extension
  packages/arcscord/tsup.config.ts
  packages/better_error/tsup.config.ts
  packages/error/tsup.config.ts
  packages/middleware/tsup.config.ts
Labels: pkg/better-error, pkg/core, pkg/error

chore: update tsconfig.eslint.json include paths and compiler options
  tsconfig.eslint.json
Labels: none

chore: update continuous-integration.yml to use pnpm cache
  .github/workflows/continuous-integration.yml
Labels: none

chore: move stringifyDebugValue import to correct location
  packages/arcscord/src/utils/error/_test/stringify_debug_value.test.ts
Labels: none

chore: update repository URL in package.json
  package.json
Labels: none

feat: add type guard methods to various context classes
  packages/arcscord/src/base/components/context/base_context.ts
  packages/arcscord/src/base/components/context/button_context.ts
  packages/arcscord/src/base/components/context/message_component_context.ts
  packages/arcscord/src/base/components/context/modal_context.ts
  packages/arcscord/src/base/components/context/select_menu_context.ts
Labels: none

feat: add middleware button with author-only access control in component test
  test/test_bot/src/commands/component_test.ts
  test/test_bot/src/components.ts
  test/test_bot/src/components/middleware.ts
Labels: none

feat: add sub commands and middleware for command testing
  test/test_bot/src/commands.ts
  test/test_bot/src/commands/middleware.ts
  test/test_bot/src/commands/sub/autocomplete.ts
  test/test_bot/src/commands/sub/component.ts
  test/test_bot/src/commands/sub/def.ts
  test/test_bot/src/commands/sub/middleware.ts
Labels: none

fix: handle autocomplete interaction correctly
  packages/arcscord/src/manager/command/command_manager.class.ts
Labels: none

fix: change name in readme
  README.md
Labels: none

feat: add autoIntents option and intentsMap for automatic intent detection close #12
  packages/arcscord/src/base/client/client.class.ts
  packages/arcscord/src/base/client/client.type.ts
  packages/arcscord/src/base/event/event.type.ts
  packages/arcscord/src/manager/event/event_manager.class.ts
  packages/arcscord/src/manager/event/intents_map.ts
Labels: none

feat: enable auto intents in test bot
  test/test_bot/src/index.ts
Labels: none

feat: add AuthorOnlyMiddleware to restrict actions to message author only
  packages/middleware/src/components/author_only_middleware.ts
  packages/middleware/src/components/index.ts
  packages/middleware/src/index.ts
Labels: none

docs: add jsdoc comments to ComponentManager methods and class
  packages/arcscord/src/manager/component/component_manager.class.ts
Labels: none

docs: add detailed TSDoc comments to CommandManager methods and types close #7
  packages/arcscord/src/manager/command/command_manager.class.ts
  packages/arcscord/src/manager/command/command_manager.type.ts
Labels: none

style: fix formatting of @example tags in documentation comments throughout code
  packages/arcscord/src/base/command/command_func.ts
  packages/arcscord/src/base/command/option.type.ts
  packages/arcscord/src/base/components/build_component.func.ts
  packages/arcscord/src/base/event/event.func.ts
  packages/arcscord/src/base/task/task.func.ts
Labels: none

refactor: update TypeScript config and TypeDoc settings for better compatibility
  packages/arcscord/typedoc.json
  tsconfig.base.json
  typedoc.json
Labels: pkg/core

docs: add arcscord v0.3.0-preview
  json_docs/arcscord/0.3.0-preview.json
Labels: none

docs: add CI workflow for deploying static content to GitHub Pages
  .github/workflows/docs.yml
  typedoc.json
Labels: none

ci: add pnpm installation step to docs.yml workflow
  .github/workflows/docs.yml
Labels: none

ci: trigger docs workflow on changes in the .docs directory and rename JSON files
  .github/workflows/docs.yml
  docs/arcscord/0.3.0-preview.json
  docs/better_error/1.0.4.json
  docs/error/1.0.1.json
Labels: none

ci: update workflow path for documentation trigger
  .github/workflows/docs.yml
Labels: none

chore: rename 0.3.0-preview.json to 0.3.0-preview2.json
  docs/arcscord/0.3.0-preview2.json
Labels: none

refactor: update typedoc entryPoints to use 'docs/**' instead of 'json_docs/*/*'
  typedoc.json
Labels: none

feat: add initial setup for Arcscord CLI package with build and test configs
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/LICENSE
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/tsconfig.json
  packages/cli/tsconfig.eslint.json
  packages/cli/tsup.config.ts
  packages/cli/typedoc.json
  packages/cli/vitest.config.mts
  pnpm-lock.yaml
Labels: none

chore: update dependencies to their latest versions in package.json and lock file
  package.json
  packages/arcscord/package.json
  packages/better_error/package.json
  pnpm-lock.yaml
  test/test_bot/package.json
Labels: pkg/better-error, pkg/core

refactor: remove unnecessary files from .gitignore and .npmignore
  packages/arcscord/.gitignore
  packages/arcscord/.npmignore
  packages/arcscord/package.json
  packages/better_error/.gitignore
  packages/better_error/.npmignore
  packages/better_error/package.json
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/package.json
  packages/error/.gitignore
  packages/error/.npmignore
  packages/error/package.json
  packages/middleware/.npmignore
  packages/middleware/package.json
Labels: pkg/better-error, pkg/core, pkg/error

chore: improve .gitignore
  .gitignore
Labels: none

chore: add .gitattributes file to enforce LF line endings
  .gitattributes
Labels: none

chore: add .editorconfig file to enforce consistent code formatting
  .editorconfig
Labels: none
