Repository Arcoz0308/arcscord, changes with the labels that .github/labeler.yml gives for each.
All labels: pkg/better-error, pkg/core, pkg/error

Update logger documentation and refactor import statements in logger class
  packages/arcscord/src/base/client/client.type.ts
  packages/arcscord/src/utils/logger/logger.class.ts
Labels: none

chore: Add Renovate configuration file for automated dependency updates
  .github/renovate.json
Labels: none

Update labeler workflow to use `secrets.GITHUB_TOKEN` instead of `secrets.github.token`
  .github/workflows/labeler.yml
Labels: none

chore: Add Renovate configuration file for automated dependency updates (#22)
  .github/renovate.json
Labels: none

Add badges and installation instructions to README.md and improve function docstring
  packages/better_error/README.md
  packages/better_error/src/util.ts
Labels: pkg/better-error

Bump version from 1.0.3 to 1.0.4 in package.json for better-error package
  packages/better_error/package.json
Labels: pkg/better-error

Add TypeDoc config and dependencies, refine JSDoc comments for type check functions
  package.json
  packages/arcscord/package.json
  packages/arcscord/src/base/command/command_definition.type.ts
  packages/arcscord/src/base/command/command_func.ts
  packages/arcscord/src/base/command/option.type.ts
  packages/arcscord/src/base/components/component_props.func.ts
  packages/arcscord/typedoc.json
  packages/better_error/README.md
  packages/better_error/package.json
  packages/better_error/src/base_error.ts
  packages/better_error/src/index.ts
  packages/better_error/src/type.ts
  packages/better_error/typedoc.json
  packages/error/package.json
  packages/error/src/func.ts
  packages/error/src/type.ts
  packages/error/src/util.ts
  packages/error/typedoc.json
  pnpm-lock.yaml
  typedoc.base.json
  typedoc.json
Labels: pkg/better-error, pkg/core, pkg/error

Add ignore pattern for docs in ESLint config and ensure JSON files end with newline
  eslint.config.mjs
  packages/arcscord/typedoc.json
  packages/better_error/typedoc.json
  packages/error/typedoc.json
  typedoc.base.json
Labels: pkg/better-error, pkg/core, pkg/error

Add JSON documentation for @arcscord/better_error v1.0.4 and @arcscord/error v1.0.1
  json_docs/better_error/better_error_v1_0_4.json
  json_docs/error/error_v1_0_1.json
Labels: none

Add json_docs to ignored paths in ESLint configuration
  eslint.config.mjs
Labels: none

Add pre-commit hook and lint-staged configuration with relevant dependencies
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Labels: none

Add VS Code settings for ESLint configuration and adjust .gitignore
  .gitignore
  .vscode/settings.json
Labels: none

Add GitHub Actions workflow for Vitest and update ESLint ignores.
  .github/workflows/vitest.yml
  eslint.config.mjs
Labels: none

Rename ESLint workflow to Vitest in GitHub Actions configuration.
  .github/workflows/vitest.yml
Labels: none

Add middleware package with cooldown feature and TypeScript config files
  packages/middleware/.npmignore
  packages/middleware/LICENSE
  packages/middleware/package.json
  packages/middleware/src/commands/cooldown_middleware.ts
  packages/middleware/src/commands/index.ts
  packages/middleware/src/index.ts
  packages/middleware/src/type.ts
  packages/middleware/tsconfig.json
  packages/middleware/tsconfig.typecheck.json
  packages/middleware/tsup.config.ts
  packages/middleware/typedoc.json
  pnpm-lock.yaml
Labels: none

Add locale support for error, missing permissions, and dev-only messages
  packages/arcscord/src/base/client/client.class.ts
  packages/arcscord/src/base/client/client.type.ts
Labels: none

Add detailed internal documentation and types categorization for context commands.
  packages/arcscord/src/base/client/client.type.ts
  packages/arcscord/src/base/command/autocomplete_context.ts
  packages/arcscord/src/base/command/command.enum.ts
  packages/arcscord/src/base/command/command.type.ts
  packages/arcscord/src/base/command/command.util.ts
  packages/arcscord/src/base/command/command_context.ts
  packages/arcscord/src/base/command/command_definition.type.ts
  packages/arcscord/src/base/command/command_func.ts
  packages/arcscord/src/base/command/command_middleware.ts
  packages/arcscord/src/base/command/option.type.ts
  packages/arcscord/src/base/utils/context.type.ts
  packages/arcscord/src/base/utils/index.ts
  packages/arcscord/src/manager/command/command_manager.class.ts
Labels: none

Add JSDoc comments to context and component files for better documentation
  packages/arcscord/src/base/components/build_component.func.ts
  packages/arcscord/src/base/components/component.enum.ts
  packages/arcscord/src/base/components/component.type.ts
  packages/arcscord/src/base/components/component_definer.type.ts
  packages/arcscord/src/base/components/component_props.type.ts
  packages/arcscord/src/base/components/context/base_context.ts
  packages/arcscord/src/base/components/context/button_context.ts
  packages/arcscord/src/base/components/context/message_component_context.ts
  packages/arcscord/src/base/components/context/modal_context.ts
  packages/arcscord/src/base/components/context/select_menu_context.ts
Labels: none

Add comprehensive JSDoc comments and MaybePromise type in event-related files
  packages/arcscord/src/base/event/event.func.ts
  packages/arcscord/src/base/event/event.type.ts
  packages/arcscord/src/base/event/event_context.ts
Labels: none

Add detailed JSDoc comments to BaseManager class and its methods
  packages/arcscord/src/base/manager/manager.class.ts
Labels: none

Document task-related types and functions for better clarity and usage
  packages/arcscord/src/base/index.ts
  packages/arcscord/src/base/task/task.func.ts
  packages/arcscord/src/base/task/task.type.ts
  packages/arcscord/src/base/task/task_context.ts
Labels: none

Make `getErrorMessage` `errorId` parameter optional and add `locale` to embed.
  packages/arcscord/src/base/client/client.class.ts
  packages/arcscord/src/utils/discord/embed/embed.const.ts
Labels: none

Add detailed JSDoc comments for better code documentation and clarity
  packages/arcscord/src/utils/discord/type/channel.enum.ts
  packages/arcscord/src/utils/discord/type/channel.type.ts
  packages/arcscord/src/utils/discord/type/locale.type.ts
  packages/arcscord/src/utils/discord/utils/util.func.ts
  packages/arcscord/src/utils/discord/utils/util.type.ts
Labels: none

Add comprehensive JSDoc comments to logger utility functions and interfaces.
  packages/arcscord/src/utils/logger/logger.class.ts
  packages/arcscord/src/utils/logger/logger.enum.ts
  packages/arcscord/src/utils/logger/logger.type.ts
  packages/arcscord/src/utils/logger/logger.util.ts
Labels: none

Add detailed JSDoc comments to custom error classes for better documentation
  packages/arcscord/src/utils/error/class/command_error.ts
  packages/arcscord/src/utils/error/class/component_error.ts
  packages/arcscord/src/utils/error/class/event_error.ts
  packages/arcscord/src/utils/error/class/interaction_error.ts
  packages/arcscord/src/utils/error/class/task_error.ts
Labels: none

Add JSDoc comments to improve code documentation and mark method as private
  packages/arcscord/src/manager/component/component_manager.type.ts
  packages/arcscord/src/manager/event/event_manager.class.ts
  packages/arcscord/src/manager/task/task_manager.ts
Labels: none

Add new labels for dynamic loader and middleware packages in labels.yml
  .github/labels.yml
Labels: none

Add support for component middleware in context and prop definitions
  packages/arcscord/src/base/components/component_middleware.ts
  packages/arcscord/src/base/components/component_props.func.ts
  packages/arcscord/src/base/components/component_props.type.ts
  packages/arcscord/src/base/components/context/base_context.ts
  packages/arcscord/src/base/components/context/button_context.ts
  packages/arcscord/src/base/components/context/message_component_context.ts
  packages/arcscord/src/base/components/context/modal_context.ts
  packages/arcscord/src/base/components/context/select_menu_context.ts
Labels: none

Add runMiddleware method to handle middleware execution in ComponentManager
  packages/arcscord/src/manager/component/component_manager.class.ts
Labels: none

chore: improve root package.json file and update husky file
  .husky/commit-msg
  .husky/pre-commit
  eslint.config.mjs
  package.json
Labels: none

chore: add cleanup script
  package.json
  scripts/clean-full.mjs
  scripts/clean.mjs
Labels: none

build: improve tsup config to split esm and cjs builds
  package.json
  packages/arcscord/package.json
  packages/arcscord/tsup.config.ts
  packages/better_error/package.json
  packages/better_error/tsup.config.ts
  packages/error/package.json
  packages/error/tsup.config.ts
  packages/middleware/package.json
  packages/middleware/tsup.config.ts
  scripts/tsconfig.json
  scripts/tsup.config.ts
Labels: pkg/better-error, pkg/core, pkg/error

build: update tsconfig.base.json with improved compiler options
  tsconfig.base.json
Labels: none

chore: update README.md with package information and contributors
  README.md
Labels: none

test: improve test config
  package.json
  packages/arcscord/package.json
  packages/arcscord/vitest.config.mts
  packages/better_error/package.json
  packages/better_error/vitest.config.mts
  packages/error/package.json
  packages/error/vitest.config.mts
  pnpm-lock.yaml
  scripts/vitest.config.mts
  vitest.config.mts
  vitest.workspace.ts
Labels: pkg/better-error, pkg/core, pkg/error

feat: integrate middleware into component managers for enhanced error handling
  packages/arcscord/src/manager/component/component_manager.class.ts
Labels: none

refactor: rename ComponentContext to BaseComponentContext for clarity
  packages/arcscord/src/base/components/component_props.func.ts
  packages/arcscord/src/base/components/context/base_context.ts
  packages/arcscord/src/base/components/context/index.ts
  packages/arcscord/src/base/components/context/message_component_context.ts
  packages/arcscord/src/base/components/context/modal_context.ts
  packages/arcscord/src/base/components/index.ts
Labels: none

build: improve tsconfig
  packages/arcscord/package.json
  packages/arcscord/src/tsconfig.json
  packages/arcscord/tsconfig.json
  packages/arcscord/tsconfig.test.json
  packages/arcscord/tsconfig.typecheck.json
  packages/better_error/src/tsconfig.json
  packages/better_error/tsconfig.json
  packages/better_error/tsup.config.ts
  packages/error/src/tsconfig.json
  packages/error/tsconfig.json
  packages/error/tsup.config.ts
  packages/middleware/src/tsconfig.json
  packages/middleware/tsconfig.json
  scripts/tsup.config.ts
Labels: pkg/better-error, pkg/core, pkg/error

chore: move code of conduct to github folder
  .github/CODE_OF_CONDUCT.md
Labels: none

ci: improve ci with problemMatchers
  .github/problemMatchers/eslint.json
  .github/problemMatchers/tsc.json
  .github/workflows/continuous-integration.yml
  .github/workflows/eslint.yml
  .github/workflows/typecheck.yml
  .github/workflows/vitest.yml
  package.json
Labels: none

.github/labeler.yml:

pkg/better-error:
  - changed-files:
      - any-glob-to-any-file:
          - packages/better_error/*
pkg/core:
  - changed-files:
      - any-glob-to-any-file:
          - packages/arcscord/*
pkg/error:
  - changed-files:
      - any-glob-to-any-file:
          - packages/error/*
